@import url("https://fonts.googleapis.com/css2?family=Lato&family=Source+Sans+Pro");

*{
	box-sizing: border-box;
}

body{
	font-family: Sans Pro, Helvetica, sans-serif; /*external Font*/
  margin-top: 0; /*stick on the top of screen*/
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

a {
    background-color: transparent; /* 1 */
    -webkit-text-decoration-skip: objects; /* 2 */
    text-decoration: none;
}
a:link{
    color: #073b4c;
}





/*=====Header===*/
header,
.header{
  height: 55px;
  padding: 10px;
}
.header-bg{
    background-image: url("https://cdn.glitch.com/bfb20076-c590-49a9-809d-b2cbc2c5b75d%2Falona-beach-banner.jpeg");
    min-height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*==========BIG DIV=======*/
.hero{
  display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 11.5px;
    padding-top: 4px;
}
.hero-sm{
  height: 100px;
}
.hero-md{
  height: 200px;
}
.hero-lg{
  height: 300px;

}

/*========Heading ==========*/
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 500;
}

h1,
.h1 {
  font-size: 32px;
}

/*header2 size*/
h2,
.h2 {
  font-size: 25.6px;
}
/*header23size*/
h3,
.h3 {
  font-size: 22.4px;
}
h4,
.h4 {
  font-size: 19.2px;
}
/*header5 size*/
h5,
.h5 {
  font-size: 16px;
}

/*header6 size*/
h6,
.h6 {
  font-size: 12.8rem;
}

.icon{
    height: 40px;
}

.float-right{
    float: right;
}
.padding-1{
    padding: 8px;
}
.padding-left-1{
    padding-left: 15px;
}
.padding-top-1{
    padding-top: 15px;
}

.text-yellow{
    color:#ffd166;
}
.text-green{
    color: #06d6a0;
}
.text-dark{
    color: #073b4c;
}

.text-bold{
    font-weight: bold;
}
 .text-left{
    text-align: left;
 }
 .text-center{
    text-align: center;
 }
  .text-right{
    text-align: right;
 }



/*========= COLUMN===================
reponsible for dividing the viewport*/

.col{
  margin-top: 3px; /*add margin above*/
  float: left; /*ensure that the columns will go to left side*/
}
/*column that will have 10% of the available width*/
.col-10{
  width:9.77777777%;
}
/*column that will have 15% of the available width*/
.col-15{
  width:15%;
}
/*column that will have 20% of the available width*/
.col-20{
    width:20%;
}
/*column that will have 25% of the available width*/
.col-25{
    width:25%;
}
/*column that will have 33% of the available width*/
.col-30{
    width:33%;
}
/*column that will have 40% of the available width*/
.col-40{
  width:39.999999999%;
}
/*column that will have 50% of the available width*/
.col-50{
  width: 49.9999999999%
}
/*column that will have 60% of the available width*/
.col-60{
    width:60%;
}
/*column that will have 75% of the available width*/
.col-75{
    width:75%;
}
/*column that will have 80% of the available width*/
.col-80{
  width:80%;
}
/*column that will have 96% of the available width*/
.col-95{
  width: 95.99999%;
}
/*column that will have 100% of the available width*/
.col-full{
  width: 100%;
}

/*clear floats after the columns*/
.row:after{
    content: "";
    display: table;
    clear:both;
}

/*mobile responsive
set all columns to 100% if it is mobile*/
@media screen and (max-width: 600px){
   body{
      padding:0;
  }
  .col-25, .col-20, .col-30, .col-60,.col-75, .col-80, input[type=submit], .btn{
      width:100%;
      margin-top: 5px;
  }