/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Source+Sans+Pro");

body {
  background-color: white;
  font-family: Sans Pro, Helvetica, sans-serif;
  font-size: 18px;
  margin: 0 5px 0 2px;
}

.bg-img {
  background-image: url("https://cdn.glitch.com/bfb20076-c590-49a9-809d-b2cbc2c5b75d%2Falona-beach-banner.jpeg");
  min-height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.topnav {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.menu-links {
  grid-column: 2/3;
  /*word-spacing: 50px;*/
  margin-top: 20px;
  text-align: center;
}

.menu-links a:link {
  color: #073B4C;
}

.menu-links a:visited {
  color: #073B4C;
}

.menu-links a:active {
  color: #05B384;
}

.social-top {
  grid-column: 3/4;
  text-align: right;
  margin-right: 30px;
  margin-top: 20px;
}


.logo {
  line-height: 0px;
  grid-column: 1/2;
  margin-left: 30px;
}

.main-grid {
  margin: 0 auto;
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  margin-top: 30px;
  margin-bottom: 30px;
  row-gap: 30px;
}

.home-image {
  grid-column: 1/2;
  height: auto;
  width: 100%;
 
}

.home-image:hover {
 
}





footer {
  height: auto;
}
footer p {
  grid-column: 1/3;
  color: #073B4C;
  margin-left: 40px;
}

.social-bottom {
  grid-column: 5/6;
  margin-right: 30px;
  text-align: right;
}

.site-plan a:link {
  color: white;
}

.site-plan a:visited {
  color: #118AB2;
}

.site-plan a:hover {
  color: #FFD166;
}

.site-plan a:active {
  color: #05B384;
}

@media screen and (max-width: 550px) {
  /* beginning of media query */
  .main-grid,
  .main-header1,
  .main-header2,
  footer,
  .topnav,
  nav ul {
    display: block;
    margin-top: 0px;
  }
}


/*CUSTOM*/
a {
    background-color: transparent; /* 1 */
    -webkit-text-decoration-skip: objects; /* 2 */
    text-decoration: none;
    -webkit-transition: background 1s; /* For Safari  */
    transition: background 1s; /* For modern browsers */
}

/*background colors*/
.bg-gray{
  background-color: #F7F6F6;
}
.bg-dark{
  background-color: #073B4C;
}
.bg-green{
  background-color: #06d6a0;
}
.bg-yellow{
  background-color: #ffd166;
}
.bg-dark-trans{
  background: rgba(6, 214, 160, 0.40);
}
.border-green{
  border:  3px dashed #073B4C;
}

/*A fancy container*/
.card{
  background: #fff;
  border-radius: 9.6px;
  box-shadow: 0 3.2px 8px rgba(48, 55, 66, .3);
  width: 100%;
  padding: 13px;

}
.card .card-footer {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: .8rem;
  overflow: hidden;
  -webkit-transition: background 1s; 
  transition: background 1s; 
}
.card-footer:hover{
  background-color: #ffd166;
  color: #073B4C;
}



/*
Image container for zooming*/
.fx-container{
 /* overflow: hidden;*/
}
.fx-container:hover{
  transition: transform 1.5s ease;
}
.fx-container:hover img{
  transform: scale(5);
}

/*//ZOOM EFFECTS*/
.zoom img {
  transition: transform .5s, filter .5s ease-in-out;
  filter: grayscale(100%);
}
.zoom:hover img {
  filter: grayscale(0);
  transform: scale(1.1);
}




/*========Heading ==========*/
.h1,
.h3,
.h4,
.h5{
  font-weight: 500;
}

h1,
.h1 {
  font-size: 32px;
}

/*header23size*/
h3,
.h3 {
  font-size: 22.4px;
}
h4,
.h4 {
  font-size: 19.2px;
}
/*header5 size*/
h5,
.h5 {
  font-size: 16px;
}

.home-paragraph {
  grid-column: 2/3;
  padding: 10px;
  line-height: 30px;
}

.icon{
  height: 40px;
}
.main-header {
  margin-top: 60px;
}

.padding-all{
  padding: 15px;
}
.padding-top-1{
    padding-top: 15px;
}

.margin-top-1{
  margin-top: 15px;
}
.margin-top-2{
  margin-top: 25px;
}

.nav-link-btn{
  padding: 15px;
  border-radius: 4px;
  -webkit-transition: background 1s; 
  transition: background 1s; 
}
.nav-link-btn:hover{
  background-color: #ffd166;
  color: #073B4C!important;

}
.text-yellow{
    color:#ffd166;
}

.text-dark{
    color: #073B4C;
}
.text-white{
  color: #fff;
}
.text-green{
  color: #06d6a0;
}

.text-bold{
    font-weight: bold;
}

 .text-center{
    text-align: center;
  }

/*========= COLUMN===================
reponsible for dividing the viewport*/

.col{
  margin-top: 3px; /*add margin above*/
  float: left; /*ensure that the columns will go to left side*/
}


/*column that will have 20% of the available width*/
.col-20{
    width:20%;
}
/*column that will have 25% of the available width*/
.col-25{
    width:25%;
}
/*column that will have 33% of the available width*/
.col-30{
    width:33%;
}

/*column that will have 50% of the available width*/
.col-50{
  width: 49.9999999999%
}
/*column that will have 60% of the available width*/
.col-60{
    width:60%;
}

/*clear floats after the columns*/
.row:after{
    content: "";
    display: table;
    clear:both;
}
.sentence{
  line-height: 32px;
}

/*mobile responsive
set all columns to 100% if it is mobile*/
@media screen and (max-width: 600px){
   body{
      padding-left:5px;
      padding-right:10px;
  }
  .col-20,.col-25, .col-20, .col-30, .col-50,.col-60, .btn{
      width:100%;
      margin-top: 5px;
  }
  .card{
    padding: 0 0 15px 0;
  }
  .h3{
    font-size: 15px;
  }
  .icon{
    max-height: 20px;
  }
}
